<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>
<body>
<div class="container ">
    <div th:replace="base :: navlinks"></div>

    <div class="bg-light p-4">

        <h2 class="mt-4 pb-5 text-center">Meme Application</h2>
        <form class="form-group"
              action="#"
              th:action="@{/process}"
              th:object="${meme}"
              method="post" enctype="multipart/form-data">
            <!--form attributes-->

            <div class="row">

                <input type="hidden" th:field="*{id}"/>

                <!--First Caption input-->
                <div class="col-sm-12 col-md-6">
                    <label>First Image Caption</label>
                    <input type="text" th:field="*{firstCaption}" class="form-control" placeholder="First Image Caption" />
                    <span th:if="${#fields.hasErrors('firstCaption')}"
                          th:errors="*{firstCaption}"></span>
                </div>

                <!--Second Caption input-->
                <div class="col-sm-12 col-md-6">
                    <label>Second Image Caption</label>
                    <input type="text" th:field="*{secondCaption}" class="form-control" placeholder="Second Image Caption"/>
                    <span th:if="${#fields.hasErrors('secondCaption')}"
                          th:errors="*{secondCaption}"></span>
                </div>
            </div>
            <!------------------>
            <div class="row mt-3">
                <!--Picture upload-->
                <div class="col-sm-12 col-md-6">
                    <label>Add Meme Picture</label>
                    <input type="file" name="file" class="form-control" required/>

                </div>
                <!--description input-->
                <div class="col-sm-12 col-md-6">
                    <label>Description</label>
                    <textarea rows="3" th:field="*{description}" class="form-control" placeholder="Enter description here::"></textarea>
                    <span th:if="${#fields.hasErrors('description')}"
                          th:errors="*{description}"></span>
                </div>

            </div>
            <!--submit button-->
            <div align="center" class="mt-4">
                <input class="btn-lg btn-warning btn" type="submit" name="Submit"/>
            </div>
            <!------------------------->
        </form>
    </div>
    <div th:replace="base:: footer"></div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>